#menu_brand {
background: url('../images/icons/bag.png') no-repeat transparent;
}

#menu_bot {
background: url('../images/icons/crawler.png') no-repeat transparent;
}

#menu_fetch {
background: url('../images/icons/zoom.png') no-repeat transparent;
}

#menu_color {
background: url('../images/icons/color.png') no-repeat transparent;
}

ul.box_list{
width: 100%;
padding: 0px 0px 0px 0;
margin: 0;
}
li.box_list_item{
border-bottom:1px solid #CCC;       

background:#FCFCFC;
}

li.box_list_item{ 
padding:15px 20px;
}