Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RedirectMatch 404 /\\..*(/.*|$)

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule ^.*$ index-test.php [L]