    
  /**************************/
 /*        CSS reset       */
 /*        Tung Commit lại        */
/**************************/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;} 
table { border-collapse:collapse; border-spacing: 0;}
.clear{clear:both}
/******* Default rules tags *******/
body {font-family: Arial, Arial, Helvetica, sans-serif; color:#000; background-color:#fff; font-size:12px;}
h1 {font-size:20px;}
h2 {font-size:18px; }
h3 {font-size:16px;}
h4 {font-size:14px;}
h5 {font-size:12px;}
a{text-decoration:none; color:#000;}
a:hover{text-decoration:none;}
input, select, textarea { font-size:11px; border:1px solid #CCC; font-family:Arial, Helvetica, sans-serif;}
/*0. ///////Structure all templates///////*/

#container {min-width:900px;}
	#header {background: #2A2A29}
		.innerHeader {height:43px; background:#2a2a29 url(../images/bgd_header.jpg) 0 0 repeat-x;}
		#header .bright {float:right; margin-top:5px; margin-right:15px; position:relative;}
		#header .bleft {float:left;}
		#header h1, #header h1 a {float:left; height:43px; overflow:hidden; }                
		.frmSearch {float:left; margin-top:7px;}
			.search {background:url(../images/bgd_search.png) 0 0 repeat-x; height:30px; position:relative;}
			.search input {padding:8px 0 8px 7px; border:0px; color:#a7a7a7; min-width:165px; background-color:transparent;}
			.search .inp {position:absolute; top:0; left:0; background:url(../images/bgd_input.png) 0 0 no-repeat; width:7px; height:30px;}
			.search button {position:absolute; top:0; right:0; background:url(../images/btn_search.png) 0 0 no-repeat; width:30px; height:30px; border:none;}
				.search button:hover { background:url(../images/btn_search_hover.png);}
		.icoFacebook, .icoTwitter, .signin, .register, .recommend, .more {float:left; display:block; margin-right:5px;}
		
		.icoFacebook {background:url(../images/ico_facebook.png) 0 0 no-repeat; width:92px; height:30px; text-indent:-10000px; margin-top:3px;}
			a:hover.icoFacebook {background:url(../images/ico_facebook.png) 0 -30px no-repeat;}
		.icoTwitter {background:url(../images/ico_twitter.png) 0 0 no-repeat; width:92px; height:30px; text-indent:-10000px; margin-top:3px; margin-right:15px;}
			a:hover.icoTwitter {background:url(../images/ico_twitter.png) 0 -30px no-repeat;}
		.signin {background:url(../images/ico_user.png) 0 0 no-repeat; font:normal 14px Arial; color:#fff; padding:0 3px 0 20px; margin-top:8px;}
		.register {border-left:1px solid #4c4c4d; font:normal 14px Arial; color:#fff; padding:0 5px 0 7px; margin-top:8px;}
		a:hover.signin, a:hover.register {color:#cc0864;}
		.recommend {background:url(../images/btn_recommend.png) 0 0 no-repeat; width:133px; height:31px; margin-top:1px; text-indent:-10000px;}
			a:hover.recommend {background:url(../images/btn_recommend_hover.png) 0 0 no-repeat;}
		.more {background:url(../images/btn_more.png) 0 0 no-repeat; width:54px; height:32px; text-indent:-10000px;}
			a:hover.more {background:url(../images/btn_more.png) 0 -32px no-repeat;}
		
		.nav {background:url(../images/bgd_nav.jpg) 0 0 repeat-x; height:50px;}
			.nav table {width:100%;}
			.nav table td {height:49px; text-align:center; overflow: hidden}
                        td.first_level_td {}
			.nav table td.active {background:url(../images/bgd_menu_active.png) center top no-repeat;}
			.nav table td.line, .nav table td.line:hover {background:url(../images/line3.png) 0 0 no-repeat; width:2px;} 
			.nav a {color:#fff; display: block;}
                        .nav a.first_level {font:bold 18px Arial; height:34px; overflow: hidden }
                        .nav a.first_level h2{ }
			.nav a.first_level p {color:#929292; font:bold 10px Arial, Helvetica, sans-serif;}
			.nav table td:hover {background:url(../images/bgd_menu_hover.png) center bottom no-repeat;}
                        .nav table td.is_over {background:url(../images/bgd_menu_hover.png) center bottom no-repeat;}
			.nav td.is_over a.first_level, .nav td:hover a.first_level, .nav a.first_level:hover {color:#cc0864; text-decoration:none;}
			.nav td.is_over a.first_level p, .nav td:hover a.first_level p,.nav a.first_level:hover p {color:#fff;}
                      
	#main { background:url(../images/bg_filter.png) repeat-y; }
		.blockTop {background:url(../images/bgd_top_main.png) 0 0 repeat-x; height:33px; clear:both; position:absolute; width:100%; top:93px; border-bottom:1px solid #EEE}
		.blockTop .bleft {float:left; text-align:right;  display:block; height:33px; color:#fff;  }
                        .blockTop .bright {float:right; text-align:right;  display:block; height:33px; color:#8c8c8c; line-height:33px; }
			.blockTop .bleft {position:relative; text-align:left; width:27%; }
			.blockTop .bleft .blockFunction {color:#8c8c8c; font:normal 12px Arial; display:block; position:absolute; top:0px; right:-86px;} 
			.blockTop .bleft .blockFunction span {cursor:pointer; white-space:nowrap;}
			.blockTop .bleft .blockFunction span:hover {}
			
			.blockTop .bleft .close img {background:url(../images/btn_close.png) 0 0 no-repeat; width:22px; height:22px; padding-right:3px; vertical-align:middle;}
			.blockTop .bleft .close a:hover img {background:url(../images/btn_close_hover.png) 0 0 no-repeat;} 
			.blockTop .bleft .open, .blockTop .bleft .close {position:absolute; top:6px; left:230px;}
			.blockTop .bleft .open img {background:url(../images/btn_open.png) 0 0 no-repeat; width:22px; height:22px; padding-right:3px; vertical-align:middle;}
			.blockTop .bleft .open a:hover img {background:url(../images/btn_open_hover.png) 0 0 no-repeat;}
                        a#showHideButton{color:#8C8C8C; height: 22px; display: block;}
                        a#showHideButton:hover{color:#cc0864;}                        						
		.blockTop .bright { padding-right:20px; }
		.blockTop .bcenter {width:53%; float:left; text-align:center; font:bold 20px Arial; color:#1e1e00; vertical-align:middle;height:33px;}
			.blockTop .bcenter .add {background:url(../images/bgd_block_1.png) 0 0 no-repeat; width:24px; height:15px; text-align:left; color:#1867f7; font-size:11px; font-style:italic; display:inline-block; cursor:pointer; padding-left:5px;}
			.blockTop .bcenter .value {background:url(../images/bgd_block_2.png) 0 0 no-repeat; width:33px; height:15px; text-align:center; color:#555; font-size:11px; display:inline-block;}
                        .blockTop .bcenter .remove {
                            margin: 0 12px 0 0;
                            padding: 3px 20px 3px 5px;
                            display: inline-block;
                            font-size: 11px;
                            font-weight: bold;
                            text-transform: uppercase;
                            color:#fff;
                            background: #000 no-repeat right 2px;
                            opacity: 0.8;        
                            border-radius: 5px;                
                            background-image: url(../images/button_cancel.png) !important;
                        }
		.wrap_items {z-index: 200; }	
		.blockItems {padding-bottom:10px; padding-left:10px; margin-top:35px; text-align:left}
                        .list-view .summary {display:none; height:0px;}
                        .blockItems .items{overflow-x:hidden; overflow-y:auto}
			.blockItems .item {width:140px; display:inline-block; padding:0 8px; }
                        .padding8{padding:0 8px !important;}
			.blockItems .item h2 {text-align:left; height:22px; margin-top:20px;} 
			.blockItems .item .detail {height:210px; font-weight:normal; font-family: Arial,Helvetica,sans-serif;font-size: 11px;}
            .blockItems .item .detail div {height:170px;width:127px;vertical-align: middle;display: table-cell;}
			.blockItems .item .detail img {text-align:center; margin-bottom:5px; border:1px solid #fff;display: block;margin-left:auto;margin-right: auto;}
			.blockItems .item .detail a:hover img {border:1px solid #ccc;}
			.lstColors {overflow:hidden; width:100%; margin-bottom:5px;}
			.lstColors img {float:left; margin-right:1px;}			
			.countLike {width:100%; text-align:right; color:#8c8c8c; font:normal 10px Arial, Helvetica, sans-serif; overflow:hidden; padding-bottom:15px;}
			.countLike p {padding-top:3px;}
			.countLike ul {float:left;}
			.countLike ul li {float:left; display:block;}
			.icoLike {background:url(../images/btn_like.png) 0 0 no-repeat; width:18px; height:18px; display:block;}
				a:hover .icoLike {background:url(../images/btn_like.png) 0 -18px no-repeat;}
			.icoUnlike {background:url(../images/btn_like.png) -18px 0 no-repeat; width:18px; height:18px; display:block;}
				a:hover .icoUnlike {background:url(../images/btn_like.png) -18px -18px no-repeat;}
				
			.prices {}
				.btnSell { padding-top:8px; width:53px; height:47px; display:block; text-align:left; color:#000; font:bold 15px Arial, Helvetica, sans-serif; line-height:25px; float:left;}
				.valueOld {font:bold 10px Arial, Helvetica, sans-serif; color:#8c8c8c; text-align:right; text-decoration:line-through; padding-right:20px;}
				.prices .value {text-align:right; font-weight:normal; color:#CC0864; font-size:18px; font-family:Arial, Helvetica, sans-serif; padding-right:20px;}							
			.contentFunction { width:230px; position:absolute; z-index:10; padding-bottom:4px; overflow-y:auto; overflow-x:hidden; background:url(../images/bgd_block_function_bottom.png) 0 bottom no-repeat;}
			.blockItemFunction {background:#211f22; padding-bottom:15px; line-height:17px; padding-left:10px; border-bottom: 1px solid #272529; border-top:1px solid #1b191d}
			.blockItemFunction h3 {color:#cc0864; font:bold 14px Arial; padding:4px 0 10px 20px;cursor:pointer;}
			.blockItemFunction p {text-align:left; padding-left:20px;}
			.blockItemFunction a {color:#fff;}
			.blockItemFunction a:hover {color:#cc0864;}
			
			.lstCategories {padding-left:20px; color:#fff;}
				.lstCategories .txt01 {color:#969696; }
                .lstCategories p {padding:2px 0;}
                .lstCategories p a.selected { color:#CC0864;}
                                .saleOff {position:relative; width:200px; height:45px; padding-left:10px;}
                .scCategories {padding-left:10px; color:#fff;}
				.scCategories p.txt02 {padding-left:10px;font-weight: normal;}
                .scCategories p.txt02 a.selected {font-weight: bold; color:#CC0864;}
                .scCategories p.txt03 {padding-left:30px;font-weight: normal;}
                .scCategories p.txt03 a.selected {font-weight: bold; color:#CC0864;}
                .saleOff img.ico {position:absolute; top: 8px; left:125px;}
				.saleOff div {padding-top:20px;}
				.saleOff div a {background:url(../images/saleoff.png) 0 -10px no-repeat; width:19px; height:4px; float:left; margin-right:1px;}
				.saleOff div a.on {background:url(../images/saleoff.png) 0 -15px no-repeat;}
				.saleOff div a.first {background:url(../images/saleoff.png) 0 0px no-repeat;}
				.saleOff div a.first.on {background:url(../images/saleoff.png) 0 -5px no-repeat;}
				.saleOff div a.last {background:url(../images/saleoff.png) 0 -20px no-repeat;}
				.saleOff div a.last.on {background:url(../images/saleoff.png) 0 -25px no-repeat;}
				.saleOff span.value1 {position:absolute; top:27px; left:10px;}
				.saleOff span.value2 {position:absolute; top:27px; left:115px;}
				.saleOff span.value3 {position:absolute; top:27px; left:177px;}
				
			.lstPrice {padding:0px 0 5px 18px;}
				.lstPrice li {display:block; padding:0; margin:0;}
				.lstPrice input[type='checkbox'] {vertical-align:middle; border:0px;}
            .lstColor {padding-left:20px; }
                .lstColor a {width:10px;margin:3px 10px 5px 0; display: inline-block; background:url(../images/color.png) -10px 0 no-repeat}
                .lstColor a.selected {border: solid 1px white;width:10px;height:10px;margin:3px 10px 5px 0;float:left;background:url(../images/color.png) -10px 0 no-repeat}
				
			.blockItemFunction.last {background-image:none;}
            .lstShop {padding-left:20px; }		
            .lstShop ul {margin:0; padding:0; }
		#footer {padding:15px 0 45px;}
			#footer p {width:50%; float:left; color:#ababab; padding-left:15px; font:bold 10px Arial, Helvetica, sans-serif;}
			#footer ul {float:right;}
				#footer ul li {float:left; background:url(../images/line2.gif) 0 2px no-repeat; padding:0 5px 0 10px; font:bold 10px Arial, Helvetica, sans-serif;}
				#footer ul li a {color:#ababab;}
				#footer ul li.first {background:none;}
		
	/* submenu */
        #shade { background: url(../images/tile.gif); border-bottom:1px solid #DDD; }
	.submenu {background:transparent; overflow:hidden; padding:0 10px; position:absolute; top:95px; z-index: 1001}
		.submenu ul { padding:10px 15px 0px 15px; float:left}
                .submenu ul.second_menu_parent { float:left;}
		.submenu ul li {padding:3px 0; text-align:left; } 
		.nav .submenu ul li a.t2 {font-family:Arial, Arial, Helvetica, sans-serif; color:#333; font-size:14px; font-weight:bold;}
		.submenu a:hover {color:#fff; text-decoration:underline;}
                .nav .submenu ul li a.t3 {padding-left: 6px;font-family:Arial, Arial, Helvetica, sans-serif; color:#777; font-size:13px; font-weight:normal;}
                ul.third_level_menu { margin:0 10px 0px 0px; padding:0; display:inline;}
                .third_level_menu li {}                
                a#hideTouch {background:url(../images/hide_touch.png) 0 0 no-repeat; height: 26px; color:#FFF; font-weight: bold; padding:5px 5px 5px 35px; display:block; }
		
	.blockMore {background:url(../images/bgd_more.png) left bottom no-repeat; width:192px; padding-bottom:5px; position:absolute; top:35px; right:4px; z-index:999;}
		.blockMore ul {background:#202020;}
		.blockMore li {display:block; background:url(../images/bgd_more_li.png) 0 100% no-repeat; padding:10px 13px 10px 23px;}
		.blockMore li a {color:#929292; font: bold 18px Arial;}
		.blockMore li span {display:block; font:bold 10px Arial, Helvetica, sans-serif; color:#929292;}
		.blockMore li a:hover {color:#cc0864; text-decoration:none;}
		.blockMore li a:hover span {color:#fff;}
		.blockMore li.last {background:none;}
	
	.login {background:url(../images/bgd_login.png) left bottom no-repeat; width:192px; height:145px; position:absolute; top:39px; right:141px; z-index:999;}
		.login ul {padding:14px 0 0 15px;}
		.login li {padding-bottom:4px;}
		.login li.lstBtn {padding-bottom:15px;padding-top:2px;}
		.login a {color:#929292; font:normal 10px Arial, Helvetica, sans-serif;}
		.login a:hover {color:#fff; text-decoration:underline;}
		.inpType1 {background:url(../images/bgd_input3.png) 0 0 no-repeat; width:154px; height:26px; padding:0 5px; line-height:26px; display:block; border:0px; font-style:italic; color:#929292; font-size:14px;}
		.btnLogin {background:url(../images/btn_signin.png) 0 0 no-repeat; width:58px; height:25px; border:0px; vertical-align:middle;}
			.btnLogin:hover {background:url(../images/btn_signin.png) 0 -25px no-repeat;}
			
	/* wrapLanding */
	.subpage {background:url(../images/bgd_LandingPage.png) center top no-repeat; height:100%;}
		#wrapLanding {width:580px; padding-left:380px; margin:80px auto 0 auto; color:#a0a0a0; line-height:18px;}
		#wrapLanding h2 {padding-top:70px; font-size:32px; font-weight:normal; color:#cc0864; padding-bottom:15px;}
		#wrapLanding p {padding-bottom:15px; font-size:14px;}
		#wrapLanding form {padding-top:15px; padding-bottom:25px;}
		.link span {float:left; display:block; padding-top:6px; padding-right:5px;}
		.link span.txt {padding-left:30px;}
		.inpType {background:url(../images/bgd_input2.png) 0 0 no-repeat; width:455px; padding:8px 5px 7px; border:0px; vertical-align:middle; font-size:12px;}
		.btn {background:url(../images/btn_submit.png) 0 0 no-repeat; width:93px; height:30px; border:0px; vertical-align:middle; margin-left:3px;}
			.btn:hover {background:url(../images/btn_submit.png) 0 -30px no-repeat;}
			
	.context {border-bottom:1px solid #e9e9e9; padding:10px 20px; color:#646464; font:normal 12px Arial, Helvetica, sans-serif; overflow:hidden;}	
		.context p {padding:7px 0px;}
		.context .imgDetail {float:left; padding-right:30px; width:300px; padding-top:10px;}
		.context .imgDetail img {margin-bottom:30px;}
		.context .imgDetail p {border-left:4px solid #e4e4e4; font-style:italic; padding:7px 0 7px 20px;}
		.context h4 {font:bold 26px Arial; padding:10px 0 20px; color:#141414;}
		.context p strong {color:#141414;}
				
        #infscr-loading {
            text-align: center;
            position: fixed;
            bottom: 60px;
            left: 50%;
            background: black;
            color: white;
            font: "13px Arial, Helvetica, sans-serif;";
            letter-spacing: 0.1em;
            width: 300px;
            height: 50px;
            margin: 0;
            margin-left: -150px;
            padding: 10px;
            opacity: 0.8;
            z-index: 9998;
            border-radius: 10px;
        }
        
        #infscr-loading img {
           margin:0;
        }
        
        .sorting {
            text-align: right;
            font-weight: bold;
            padding-top:10px;
            font-size:13px;
            padding-right:20px;
            margin-top:0px;
        }
        .sorting ul{
            display:inline;
            margin-left:10px;
            font-weight: normal; 
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
        }
        .sorting li{
            display:inline;            
            margin-right:3px;
        }
        
        .sorting li a.asc {
            background: #000 no-repeat right 6px;
            background-image: url(../images/sort_up.png) !important;
            border-radius: 5px;
            color: #FFF;
            padding: 3px 18px 3px 5px;
        }
        
        .sorting li a.desc {
            background: #000 no-repeat right 0px;
            background-image: url(../images/sort_down.png) !important;
            border-radius: 5px;
            color: #FFF;
            padding: 3px 20px 3px 5px;
        }
				
	.pager{display:none}		
        
        .range-slide{
            border: 0px !important;
            width: 170px;
            margin: 5px;
            height: 4px;
            margin-left: 20px;
            margin-top: 15px;
        }
        .ui-widget-content {
            background: url("../images/slide.png") no-repeat scroll left top #202020 !important;            
            border: 0px !important;
        }
       
        
        
        .range-slide .ui-slider-range {background:url(../images/slide_hover.png) bottom left no-repeat !important; }
      
        .range-slide .ui-state-default, .range-slide .ui-widget-content, .range-slide .ui-state-default, .range-slide .ui-widget-header .ui-state-default {
            background: url("../images/circle.png") no-repeat scroll left top transparent;
            border: medium none;
            cursor: pointer;
            height: 16px;
            width: 16px;
            top: -6px;
        }
				
				
				
				
				
				
			