iframe{border:0}
#container{padding-bottom:40px}
.topbar{position: relative;}
.top_header{background:url('../images/header_bg.png');background-repeat:repeat-x; background-position:0 0; height:68px}
.top_header a{display:block;color:#fff}

#share_rules{padding: 10px 0px;font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;background: #E9E9E9;border-bottom: 1px dashed #CCC;}
#share_rules li{font:11px 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',Arial,Helvetica,sans-serif}
.link_sep{color:#FFF; position:absolute;top:10px}
a img.logo{background:url('../images/logo.png');background-repeat:no-repeat; background-position:0 10px; display:block;}
a img.logo {padding-top:10px}
div.item{border-bottom: 1px solid #D8D8D8;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #D8D8D8;padding: 20px 0 10px 15px;}
div.item:hover{background:#F9F9F9 !important;}
.pop_image_small {width: 129px;height: 128px;padding: 0 9px;float: left;background: transparent url("../images/img_bg.png") no-repeat 0 76px;position: relative;}
.pop_image_small a.image_link {display: block;position: relative;width: 120px;height: 90px;border: 1px solid #D7D7D7;padding: 3px;background: white;}

.user_thumb {width: 36px;height: 94px;float: left;padding: 4px 11px 0 0;}
.user_thumb a {width: 36px;height: 36px;display: block;}
.user_thumb img {width: 36px;height: 36px;display: block;}

.lesson_details {width: 428px;float: left;padding: 1px 0 0 0;}
.lesson_title {font-size: 20px;font-weight: bold;line-height: 22px;height: 22px;letter-spacing: -0.6px;}
.lesson_title a.name {color:#404040;float:left;max-width: 368px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.lesson_subject_link {color:#455d08; font-weight:bold}
.lesson_cat_link {color:#404040; font-weight:bold}

ul.reputation, ul.recent_comment{list-style-type:none; margin:0; padding:0;}
ul.recent_comment li {color:#404040;}
ul.reputation li{float:left; padding-right:10px}
ul.reputation li a{color:#BFBFBF;}
ul.reputation li a:hover{text-decoration:none;}
ul.reputation li a.vote_love{background-image:url('../images/heart_blank.png'); background-repeat:no-repeat; padding-left:18px; height:16px; padding-top:1px}
ul.reputation li a.comment_count{background-image:url('../images/comment.png'); background-repeat:no-repeat; padding-left:18px; height:16px; padding-top:1px}
ul.reputation li a strong{color:#404040; font-size:15px}


.items .inner_sub_item{margin-bottom:10px}
.items .sub_item_thumb{float:left; width:96px; margin-right:10px}
.items .sub_item_info{float:left; color:#666; font-size:11px; width:174px; overflow: hidden}
.items .sub_item_info a{font-weight:bold; font-size:13px}
a.useritem {display: block;float: left;border: 1px solid #CCC;padding: 3px;background: #fff;margin: 0 6px 6px 0;border-image: initial;}
.head_avatar{-webkit-border-radius: 2px;height: 23px;margin: 0px 5px 0px 3px;width: 23px;}
.head_username{display: inline-block;max-width: 175px;overflow: hidden;text-overflow: ellipsis;vertical-align: top;white-space: nowrap;}

div.errorMessage{font-size: 13px;line-height: 18px; color:#B94A48}
ul.footer_menu{list-style-type:none; margin:20px 0px 0px 0; padding:0;}
ul.footer_menu li.first-child {padding-left: 1px;border: none;border-image: initial;}
ul.footer_menu li {float: left;padding: 0 8px;border-left: 1px solid #CCC;}
ul.footer_menu li a{color:#666; font-weight:bold}

footer{padding:10px 0!important; margin-top:0px!important}
.clear{clear:both}
